.procedure-info {
  font-size: 0.85em;
  height: calc(100% - 80px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;

  &-actions {
    text-align: right;
    margin-bottom: 15px;
  }

  .row {
    > div:first-child {
      color: #848484;
    }
  }
}
